body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.first-panel {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

header,
.awesome-website,
.header {
    min-width: 600px;
    width: 800px;
}

header li a {
    font-size: 18px;
    color: #e5e7eb;
}

header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.awesome-website {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9fafb;
    padding-bottom: 8px; 
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 5px 25px;
    border-radius: 5px;
    margin-top: 10px;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
}

img {
    height: 200px;
    width: 400px;
}

.second-panel .header {
    font-size: 36px;
    font-weight: 550;
    text-align: center;
}

.second-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.secondary-container {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.img-text {
    width: 140px;
    text-align: center;
}

.info-img {
    height: 140px;
    width: 140px;
    border-radius: 25px;
    border: 4px solid #3882f6;
}

.text {
    color: #636363;
    font-size: 15px;
}

.third-panel {
    background-color: #e5e7eb;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.quote, 
.quote-by {
    width: 650px;
}

.quote {
    font-style: italic;
    font-size: 20px;
}

.quote-by {
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}
